*.png
__pycache__/
batch_output/
cache/
local/
log/
.idea/
results/
util/crypto/datasets
venv/
.idea/
.ipynb/
.ipynb_checkpoints/
.vscode/
abides-acc.wiki
.env
.gradio
paper
.DS_Store


playground
docs/source
docs/make.bat
docs/Makefile
docs/build/doctrees

rubbish
old
.pytest_cache
result
playground

frontend/node_modules/
frontend/*node_modules/*
frontend/*npm-debug.log
frontend/*temp/
frontend/*temp/*
frontend/*coverage/
frontend/build
frontend/doc 


# Editors
/.vscode/*
!/.vscode/extensions.json
frontend/**.bak
frontend/*.project

.venv 
